{% extends "layout.html" %} {% block content %}

<div class="jumbotron">
  <h1>Book Receipt</h1>
  <form action="/" method="POST">
    <div class="form-group">
      <label for="total-books-rented">Number of books rented:</label>
      <input
        type="number"
        class="form-control"
        placeholder="Enter Number of books rented"
        id="total-books-rented"
        name="total-books-rented"
        required
      />
    </div>
    <p>Book rent duration:</p>
    <div class="form-group">
      <label for="rented-on">Rented on:</label>
      <input
        type="text"
        class="form-control"
        placeholder="yyyy-mm-dd"
        id="rented-on"
        name="rented-on"
        required
        pattern="\d{4}-\d{2}-\d{2}"
      />
    </div>
    <div class="form-group">
      <label for="returned-on">Returned Rented book on:</label>
      <input
        type="text"
        class="form-control"
        placeholder="yyyy-mm-dd"
        id="returned-on"
        name="returned-on"
        required
        pattern="\d{4}-\d{2}-\d{2}"
      />
    </div>
    <p><b>Note:</b> All Dates are inclusive.</p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %} {% block footer %} {{ super() }}
<script>
  $("#rented-on").datepicker({
    format: "yyyy-mm-dd",
  });
  $("#returned-on").datepicker({
    format: "yyyy-mm-dd",
  });
</script>
{% endblock %}
